  Software/external/unity/* linguist-vendored
  Software/external/unity/auto/* linguist-vendored
  Software/external/unity/docs/* linguist-vendored
  Software/external/unity/examples/* linguist-vendored
  Software/external/unity/examples/example_1/* linguist-vendored
  Software/external/unity/examples/example_1/src/* linguist-vendored
  Software/external/unity/examples/example_1/subprojects/* linguist-vendored
  Software/external/unity/examples/example_1/test/* linguist-vendored
  Software/external/unity/examples/example_1/test/test_runners/* linguist-vendored
  Software/external/unity/examples/example_2/* linguist-vendored
  Software/external/unity/examples/example_2/src/* linguist-vendored
  Software/external/unity/examples/example_2/test/* linguist-vendored
  Software/external/unity/examples/example_2/test/test_runners/* linguist-vendored
  Software/external/unity/examples/example_3/* linguist-vendored
  Software/external/unity/examples/example_3/helper/* linguist-vendored
  Software/external/unity/examples/example_3/src/* linguist-vendored
  Software/external/unity/examples/example_3/test/* linguist-vendored
  Software/external/unity/examples/example_4/* linguist-vendored
  Software/external/unity/examples/example_4/src/* linguist-vendored
  Software/external/unity/examples/example_4/subprojects/* linguist-vendored
  Software/external/unity/examples/example_4/test/* linguist-vendored
  Software/external/unity/examples/example_4/test/test_runners/* linguist-vendored
  Software/external/unity/examples/example_5/* linguist-vendored
  Software/external/unity/examples/example_5/src/* linguist-vendored
  Software/external/unity/examples/example_5/subprojects/* linguist-vendored
  Software/external/unity/examples/example_5/test/* linguist-vendored
  Software/external/unity/examples/example_5/test/test_runners/* linguist-vendored
  Software/external/unity/extras/* linguist-vendored
  Software/external/unity/extras/bdd/* linguist-vendored
  Software/external/unity/extras/bdd/src/* linguist-vendored
  Software/external/unity/extras/bdd/test/* linguist-vendored
  Software/external/unity/extras/eclipse/* linguist-vendored
  Software/external/unity/extras/fixture/* linguist-vendored
  Software/external/unity/extras/fixture/src/* linguist-vendored
  Software/external/unity/extras/fixture/test/* linguist-vendored
  Software/external/unity/extras/fixture/test/main/* linguist-vendored
  Software/external/unity/extras/memory/* linguist-vendored
  Software/external/unity/extras/memory/src/* linguist-vendored
  Software/external/unity/extras/memory/test/* linguist-vendored
  Software/external/unity/src/* linguist-vendored
  Software/external/unity/test/* linguist-vendored
  Software/external/unity/test/expectdata/* linguist-vendored
  Software/external/unity/test/spec/* linguist-vendored
  Software/external/unity/test/targets/* linguist-vendored
  Software/external/unity/test/testdata/* linguist-vendored
  Software/external/unity/test/tests/* linguist-vendored